! RIP version 2 (classless, VLSM, authentication)
!
router rip
 version 2
 network 192.168.10.0
 network 172.168.10.0
 no auto-summary

! Advertise the default route into the RIP domain
default-information originate

! Do not send updates toward access-side hosts
passive-interface GigabitEthernet0/2

! MD5 authentication on the point-to-point link
key chain RIP-KEY
 key 1
  key-string SecureKey01
!
interface GigabitEthernet0/0
 ip rip authentication mode md5
 ip rip authentication key-chain RIP-KEY

! Verify
! show ip rip database
! show ip protocols
! debug ip rip
