! EtherChannel - bundling physical links into one logical link
!
! --- LACP (IEEE 802.3ad) ---
interface range GigabitEthernet0/1-2
 channel-group 1 mode active
!
interface Port-channel1
 switchport mode trunk
 switchport trunk allowed vlan 10,20,30

! --- PAgP (Cisco proprietary) ---
interface range GigabitEthernet0/1-2
 channel-group 2 mode desirable
!
interface Port-channel2
 switchport mode trunk

! Load-balancing method (global)
port-channel load-balance src-dst-ip

! Verify
! show etherchannel summary
! show etherchannel port-channel
! show interfaces port-channel 1
