! Trunking between switches (802.1Q)
!
interface GigabitEthernet0/24
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 10,20,30
 switchport trunk native vlan 99
 switchport nonegotiate

! Native VLAN separated from user traffic (security best practice)
vlan 99
 name Native

! DTP modes (alternative to static trunk)
! switchport mode dynamic desirable   - actively tries to become trunk
! switchport mode dynamic auto        - becomes trunk only if peer asks

! Verify
! show interfaces GigabitEthernet0/24 switchport
! show interfaces trunk
