! VLAN configuration
!
! Create VLANs
vlan 10
 name Engineering
vlan 20
 name Operations
vlan 30
 name Guest

! Access port - single host on VLAN 10
interface GigabitEthernet0/1
 switchport mode access
 switchport access vlan 10
 no shutdown

! Range of access ports
interface range GigabitEthernet0/1-8
 switchport mode access
 switchport access vlan 10

! Verify
! show vlan brief
! show vlan id 10
